body{
    background-color: black;
}
div{
    background-color: white;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
}
ol{
    list-style: upper-roman;
}
#Background_Skills{
    list-style: upper-alpha;
} 
#list_type{
    list-style: lower-roman;
}